<div class="container">
  <div class="user-details">
    <h3>whoami?</h3>
    <p style="font-size: 20px;">
      Hey there, I am Amit Moolwani.<br />
      I am pursuing engineering in computer science domain.<br />
      I like to code, sing, dance, travel and writing quotes.<br />
      I am an introvert and for those who don't know me.<br /><br />
      Presently I began working on deveops and interested in the field of
      Python/Java developer<br />
      Seeking for an job in Python/Java developer.<br />
      I like to write algos and intrested in competitive
      programming.<br />
      Moreover I know programming languages like Python ,Java, C and C++ and have
      created few projects using these. Presently I am working on a project for
      that  will encpasulate all Industry 4.0 technologies in one software.
      and going to work on another project on IOT.<br /><br />
      To know more about me you can view my resume from
      <a href="https://docs.google.com/document/d/17QvPkf_c89gWk7JeccsYnecuKEqyZ3HqtGq8T66v2Us/edit?usp=sharing"
        >here</a
      >.
    </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <img alt="ai" src="/assets/img/icons/ai.svg" height="70px" width="70px" />
      <p style="font-size: 20px;">
        For coding I use Pycharm for Python, eclipse for Java and standerd gcc compiler for C/C++.
        I also use eclipse for devlopment purpose.
      </p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <img alt="pc" src="/assets/img/icons/pc.png" height="70px" width="70px" />
      <img
        alt="gcc"
        src="/assets/img/icons/gcc.png"
        height="70px"
        width="70px"
      />
      <img
        alt="eclips"
        src="/assets/img/icons/eclips.ico"
        height="70px"
        width="70px"
      />
      <p style="font-size: 20px;">
        I have good knowledge in Machine Learning, docker,
        ansible, and IOT.
      </p>
      <p></p>
    </div>

    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <img
        alt="sublim"
        src="/assets/img/icons/sublime.png"
        height="70px"
        width="70px"
      />
      <i class="devicon-atom-original-wordmark"></i>
      <p>
        I use tools like github as version control system and and advance text
        editor like atom.
      </p>
    </div>
  </div>
</div>
